api:
  key: ""
  secretkey: ""
  passphrase: ""
  testnet: False
telegram:
  token: ""
  id: ""
task_list:
  - id: "DOT-USDT-SWAP"
    inst_type: "SWAP"
    mal: 5
    atrm: 1
    bar: "1m"
    sz: "5"
